@import 'ngx-toastr/toastr';


.toast-red-win {
  background-color: red !important;
}

.toast-yellow-win {
  background-color: yellow !important;
}

.toast-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
