.connect4-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.connect4-grid {
  width: 20%;
  border-collapse: collapse;
}

.connect4-grid td {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
}

.cell-red {
  background-color: red;
}

.cell-yellow {
  background-color: #ffd500;
}

.cell-empty {
  background-color: transparent;
}

 .color-square {
   width: 20px;
   height: 20px;
   display: inline-block;
   border-radius: 50%;
   margin-left: 10px;
 }


.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.spinner-border {
  color: #6c757d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bold-score {
  color: orange;
  font-weight: bold;
}


/* Adjust spinner color and size as needed */
