<div class="top-right">
  <div class="configuration" style="border: 1px solid black;">
    <h3>Configuration</h3>
    <mat-form-field>
      <span *ngFor="let player of players">
        <mat-label>minimax Player depth {{player.name}} </mat-label>
        <input id="player.name" matInput type="number" [ngModel]="player.depth"
               (ngModelChange)="updateDepth($event, player)"/>
      </span>


    </mat-form-field>
    <mat-form-field>

      <mat-label>Waiting time after AI move</mat-label>
      <input matInput type="number" [(ngModel)]="waitingTimeAfterAiMoveMs"/> ms
    </mat-form-field>
    <div>
    </div>
  </div>
  <div class="configuration" style="border: 1px solid black;">
    <h3>Games History</h3>
    <button (click)="clearHistory()" mat-raised-button color="primary">clear</button>
    <div *ngFor="let histo of history; let i = index">
      {{i + 1}}: {{histo.gameResult}} {{histo.playerName}}
    </div>
  </div>
</div>


<div class="current-player">
  Current Player:
  <div class="color-square" [ngStyle]="{ backgroundColor: currentPlayer.cellType.color }"></div>
</div>

<div class="game-mode" *ngFor="let player of players">
  <mat-slide-toggle
    [checked]="player.isAi"
    (change)="toggleGameMode(player.id)">
    {{player.name}} AI mode
  </mat-slide-toggle>
</div>

<div class=mat-raised-button>
  <button (click)="aiMove()" mat-raised-button color="accent">Do 1 minimax move</button>
</div>

<div *ngIf="isWaitingAiResponse" class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="connect4-grid-container">
  <table class="connect4-grid">
    <tr>
      <td *ngFor="let score of columnScores; let i = index" class="column-number"
          [ngClass]="{ 'bold-score': i === lastAiMove }">
        {{score}}
      </td>
    </tr>
    <tr *ngFor="let row of connect4Grid">
      <td *ngFor="let cell of row" [ngClass]="cellTypes[cell].style"
          (click)="humanMove(getColumnIndex($event.target))">
      </td>
    </tr>
  </table>
  <button (click)="resetGrid()" mat-raised-button color="warn">Restart game</button>
</div>

