<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" (click)="drawer.toggle()"></mat-icon>

  <span>Connect4</span> <a href="https://github.com/RomainMichau/Connect4Solver" target="_blank">
  <a href="https://github.com/RomainMichau/Connect4Solver" target="_blank">
    <mat-icon class="fa" color="primary" fontSet="fa" fontIcon="fa-github"></mat-icon>
  </a>
</a>
</mat-toolbar>
<div class="mat-app-background">

</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" class="with-nav-margin">
      <a
        mat-raised-button
        color="primary"
        [routerLink]="['/']"
      >Game</a>
      <a
        mat-raised-button
        color="primary"
        [routerLink]="['swagger']"
      >Swagger</a>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
