<mat-toolbar>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu" (click)="drawer.toggle()"></mat-icon>

  <span>{{title}}</span> <a [href]="githubLink" target="_blank">
    <mat-icon class="fa" color="primary" fontSet="fa" fontIcon="fa-github"></mat-icon>
</a>
</mat-toolbar>
<div class="mat-app-background">

</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" class="with-nav-margin">
      <a
        mat-raised-button
        color="primary"
        [routerLink]="['/']"
      >Game</a>
      <a
        mat-raised-button
        color="primary"
        [routerLink]="['swagger']"
      >Swagger</a>
      <div *ngFor="let link of related_links | keyvalue">
        <a
        mat-raised-button
        color="primary"
        href="{{link.value}}"
        target="_blank"
      >{{ link.key }}</a>
      </div>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
